apache-beam==2.12.0
avro==1.9.0
fastavro==0.21.23
diff-match-patch==20181111
dill==0.2.9
future==0.16.0
google==2.0.1
google-api-python-client==1.7.9
google-cloud-storage==1.13.0
google-cloud-core==0.28.1
mock==3.0.5
NoAho==0.9.6.1
nose==1.3.7
pandas==v0.23.4
pyarrow==0.11.1
python-dateutil==2.8.0
sseclient==0.0.24
typing==3.6.6
uritemplate==3.0.0
