google-api-python-client==1.7.9
pandas==v0.23.4
pylint==2.3.1

#key_service_acct
#export GOOGLE_APPLICATION_CREDENTIALS=/usr/local/google/home/kearstenprince/Anti-Doxxing
#export GOOGLE_APPLICATION_CREDENTIALS="/home/user/Downloads/key_service_acct.json"