$light-bg: #F8F9FA;
$lighter-bg: #F8F8F8;
$red: #EF002F;
$light-red: #FCE8E6;
$white: #fff;
$darker-text: rgba(0,0,0,0.9);
$dark-text: rgba(0,0,0,0.5);
$light-text: #8C8C8C;
$light-border: #F1F1F1;

$panel-width: 262px;
$merriweather: 'Merriweather', serif;
$libre: 'Libre Franklin', sans-serif;

$global-breakpoint: 768px;

@mixin tablet {
    @media (max-width: #{$global-breakpoint}) {
      @content;
    }
}

@mixin box-shadow() {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

@mixin gradient() {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 8%, #D3CDC6 100%);
}